@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%; /* #F9FAFB */
    --foreground: 222.2 84% 4.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 225 64% 33%; /* #1E3A8A */
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
 
    --radius: 0.75rem; /* 12px */
  }
 
  .dark {
    --background: 280 5.9% 10%; /* #1A181B */
    --foreground: 0 0% 98%;
 
    --card: 280 5.9% 13%;
    --card-foreground: 0 0% 98%;
 
    --popover: 280 5.9% 13%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 180 37.7% 39%; /* #3E8989 */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 262.5 13.5% 34.9%; /* #564D65 */
    --secondary-foreground: 0 0% 98%;
 
    --muted: 280 5.9% 20%;
    --muted-foreground: 280 5.9% 70%;
 
    --accent: 280 5.9% 20%;
    --accent-foreground: 180 37.7% 39%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 280 5.9% 20%;
    --input: 280 5.9% 20%;
    --ring: 180 37.7% 39%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
